* {
    font-family: Fredoka,"Open Sans", "Helvetica", Arial, sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
}
h1{
    margin:0;
}
.header-div{
    background-color: rgb(0,0,0);
    overflow: hidden;
    padding: 20px 10px;
}
.header-div a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
}
.header-div a.name{
    font-size: 40px;
    color:aliceblue;
}
.header-div a.name:hover{
    color: 	#db0000;
}
.right-div{
    border:3px;
    float: right;
}
.right-div a:hover{
    transition: all 0.5s;
    background-color: rgba(86,77,77, 0.6);
    color: #db0000;
}
.right-div a.active{
    background-color: rgba(86,77,77, 0.5);
    color: 	#db0000;
}
@media screen and (max-width: 500px) {
    .header-div{
            background-color: rgba(255, 255, 255, .15);   
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(5px);
    }
    .videos0 a{
        overflow: scroll;
    }
    .header-div a {
      color: black;
      float: none;
      display: block;
      text-align: left;
      font-size: 30px;
    }
    .right-div a.active{
        background-color: rgba(86,77,77, 0,1);
        color: 	#db0000;
    }
    .right-div {
      float: none;
    }
}

.title{
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.body-div{
    background-color: rgba(0, 0, 0, .9);
    padding: 20px;
    margin: 0;
    overflow: hidden;
}
.videos{
    display:flexbox;
    align-items: center;
    align-content: space-between;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: auto;
}
.videos0 a{
    display:flex;
    overflow: hidden;
    padding: 10px;
    margin: 0;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.imageeem{
    padding-right:20px;
    width: auto;
    height: 280px;
}